@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// body {
//   max-width: 1440px;
// }

main {
  background-image: url(/images/body_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0%;
}
